{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="row mb-2 pt-4">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <h2>Hello: {{ app.user.name }}</h2>
            <h2>Email: {{ app.user.email }}</h2>
            <h2>Rol: {{ app.user.roles|join(' - ') }}</h2>
        {% endif %}
    </div>
{% endblock %}
