{% if status == constant('App\\Config\\PostStatus::Published').value %}
    <span class="text-success">{{ post.status }}</span>
{% elseif status == constant('App\\Config\\PostStatus::Rejected').value %}
    <span class="text-danger">{{ post.status }}</span>
{% else %}
    <span class="text-secondary">{{ post.status }}</span>
{% endif %}