{% extends 'base.html.twig' %}

{% block title %}New Post{% endblock %}

{% block body %}
    <div class="row mb-2 pt-4">
        <h1>Create new Post</h1>

        {{ include('dashboard/_form.html.twig') }}

        <div>
            <a href="{{ path('app_dashboard') }}" class="btn btn-primary">back to list</a>
        </div>
    </div>
{% endblock %}
