{% extends 'base.html.twig' %}

{% block title %}Edit Post{% endblock %}

{% block body %}
    <div class="row mb-2 pt-4">
        <h1>Edit Post</h1>

        {{ include('post/_form.html.twig', {'button_label': 'Update'}) }}

        <div>
            <a href="{{ path('app_posts') }}" class="btn btn-primary">back to list</a>
        </div>

        {{ include('post/_delete_form.html.twig') }}
    </div>
{% endblock %}
